<%= stylesheet_link_tag 'tindex', :media => "all" %>

<html>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>

<body>
    <section id="second-block">
      
    <div class=oomoto>
    <h1 class=mozi>Let's Study<br> Languages!</h1></div>
    <div class=setsumei>
    <p><span class="under">これは、無料で世界各国の人々と言語学習を行えるwebアプリです。</p>
    <br>
  <p><span class="under">This is a free web application where you can learn languages with people from around the world.</p>
  <br>
  <p><span class="under">这是一个免费的网页应用程序，你可以与来自世界各地的人一起学习语言。</p><br>
  <p><span class="under">이것은 전 세계 사람들과 함께 무료로 언어를 학습할 수 있는 웹 애플리케이션입니다.</span></p>
<br>
</div>
</section>

<div class="nani">
  <h1>What you can do in this app?</h1></div>
  <div class="se">
  
</div>

<div class=third>
<div class=tsu>
  <h1>What is the features of this app?</h1></div>
  <div class="boxmatome">
  <div class="box" id="makeImg">
    <span class="aa"><h3><i class="fa-solid fa-check"></i> 性別を選べる！</h3>
    <br>
    <p>ユーザー検索欄から、性別を絞ることができるため、安全に語学学習ができる！</p>
</span>
</div>

<div class="box2" id="makeImg">
  <span class="aa"><h3><i class="fa-solid fa-check"></i> 完全無料！</h3>
  <br>
  何ヶ国語学んでも、完全無料！</span>
</div>

<div class="box3" id="makeImg">
  <span class="aa"><h3><i class="fa-solid fa-check"></i> 多言語OK！</h3>
  <br>
  Askで気軽に質問して、他のユーザーの質問にも答えてあげよう！</span>
</div>

</div>

</div>
</div>
</body>
</html>